{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'app\css\style.css' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'app\media\favicon.ico' %}" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>FuGaS_ViToHa</title>
</head>
<body>
    <div class="hero">
        <nav>
            <img src="{% static 'app\media\logo.png' %}" class="logo">
            <ul>
                <li>
                    <a href="http://127.0.0.1:8000/mods">Моды</a>
                    <a href="http://127.0.0.1:8000/resourcepacks">Ресурспаки</a>
                    <a href="http://127.0.0.1:8000/skins">Скины</a>
                    <a href="http://127.0.0.1:8000/about">Обо Мне</a>
                </li>
            </ul>
        </nav>
            <h1>Здесь вы можете скачать все мои ресурспаки!</h1>
            {% for resourcepacks in resourcepacks %}
            <h2 class="shop">{{ resourcepacks.name }}</h2>
            <h3><a class="link" href="{{resourcepacks.link}}">Скачать ресурспак</a></h3>
            {% endfor %}
    </div>
</body>
</html>

<style>
    
.link {
	color: #d9f688;
	display: inline-block;
	opacity: 0.6;
	text-decoration: none;
	padding: 10px;
	transition: all .07s ease-in-out ;
}

.shop {
	padding: 10px;
}

h1 {
    font-weight: bold;
}

</style>